{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
{% if active %}
{% if boolean %}
<h2>Listing Items</h2>
<div class="row mx-auto">
    {% for listing in active %}
        <div class="card bg-dark mx-auto cardStyle">
          {% if listing.image_url %}
            <img class="card-img-top imgStyle" src="{{ listing.image_url }}" alt="No Image Provided">
          {% else %}
            <img class="card-img-top imgStyle" src="{% static 'nophoto.png' %}" alt="No Image Provided">
          {% endif %} <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{listing.description}}</p>
            {% if listing.category %}
            <p class="card-text">Category: {{listing.category}}</p>
            {% endif %}
            <p class="card-text">Current Price: ${{listing.max_bid}}</p>
            <form method="GET" action="{% url 'listing' listing.id %}">
            <input class="btn boton" type="submit" value="View">
            </form>
          </div>
        </div>
        {% endfor %}
{% else %}
<h2>No results for this Category!</h2>
{% endif %}
{% else %}
    <h2>Select a category</h2>
    <form method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
    <div class="form-group">
        <select class="form-control form-control-lg"  name="category">
            <option value="No Category">No category</option>
            <option value="Home">Home</option>
            <option value="Toys">Toys</option>
            <option value="Tech">Tech</option>
            <option value="Sport">Sport</option>
        </select>
    </div>
    <div class="d-flex justify-content-center">
    <input class="btn boton" type="submit" value="Filter Category">
    </div>
    </form>   
{% endif %}
{% else %}
<h1>Please Login or Register!</h1>
{% endif %}
{% endblock %}