{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
    {% if active %}
        <h2><b>ACTIVE LISTINGS</b></h2>
        <div class="row mx-auto">
        {% for listing in active %}
        {%  if listing.status %}
        <div class="card bg-dark mx-auto cardStyle">
          {% if listing.image_url %}
            <img class="card-img-top imgStyle" src="{{ listing.image_url }}" alt="Image">
          {% else %}
            <img class="card-img-top imgStyle" src="{% static 'nophoto.png' %}" alt="nophoto">
          {% endif %}
          <div class="card-body">
          <h5 class="card-title">{{listing.title}}</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark">{{listing.description}}</li>
             {% if listing.category %} 
              <li class="list-group-item bg-dark">Category: {{listing.category}}</li>
              {% endif %}
               <li class="list-group-item bg-dark">Current Price: ${{listing.max_bid}}</li>
          </ul>
          <form method="GET" action="{% url 'listing' listing.id %}">
            <input class="btn boton" type="submit" value="View">
          </form>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
    <h2>No Active Listings</h2>
    {% endif %}
{% else %}
<div class="d-flex justify-content-center">
<h2>Welcome! Please <a class="navItem" href="{% url 'login' %}">Log In</a> or <a class="navItem" href="{% url 'register' %}">Register</a> to start using auctions</h2>
</div>
{% endif %}
{% endblock %}